@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@font-face {
    font-family: "idroid";
    src: url("../fonts/idroid.otf") format("opentype");
}

:root{
    --cor1:#7ADDA3;
    --cor2:#35D679;
    --cor3:#2DB566;
    --cor4:#248F50;
    --cor5:#305740;
    --cor6:#FFECC9;
    --cor7:#bbdbc9;
    --fontPrincipal:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fontBanner:'Luckiest Guy',cursive;
    --fontDestaque:idroid,cursive;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color:var(--cor6);
    font-family: var(--fontPrincipal);
}

header{
    max-width:100%;
    height:100px;
    background-image:linear-gradient(to bottom,var(--cor3),var(--cor4));
    text-align:center;
    padding:25px 0;
}

header > h1{
    font:normal normal 3em var(--fontBanner);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    color:#FFF;
}

header > p{
    font-size:1.2em;
    color:#FFF;
    text-shadow:2px 2px 0 rgba(0,0,0,0.5);
    max-width: 100%;
}

nav{
    max-width: 100%;
    height:50px;
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
}

nav > a{
    color:white;
    font-weight:bold;
    font-size:1.2em;
    text-decoration:none;
    padding:14px;
    display:inline-block;
    transition-duration: 0.3s;
}

nav > a:hover{
    background-color:var(--cor7);
    color:var(--cor5);
}

main{
    max-width:1000px;
    min-width:260px;
    padding:20px;
    border-radius:0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin:0 auto;
    background-color:#FFF;
}

main h1{
    font-family: var(--fontDestaque);
    font-size:2em;
    color:var(--cor4);
    background-image: linear-gradient(to right,var(--cor1), transparent);
    padding-left:10px;
    margin:20px 0;
}

main h2{
    font-family: var(--fontDestaque);
    font-size:1.5em;
    color:var(--cor4);
    margin:20px 0 10px 0;
}

main p{
    line-height: 2em;
    margin:10px 0;
}

main img{
    width:100%;
}

main .externo{
    text-decoration:none;
    background-color:var(--cor7);
    color:var(--cor5);
}

main .externo:hover{
    text-decoration: underline;
}

main .externo::after{
    content:"\00A0\1F517";
}

main .small_image{
    max-width:300px;
}

.video_externo > iframe{
    max-width:100%;
    display:block;
    margin:0 auto;
}

aside{
    margin:20px 0;
    background-color:var(--cor7);
    padding:10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.4);
}

aside h3{
    background-image:linear-gradient(to bottom, var(--cor4), var(--cor5));
    padding:10px;
    border-radius:10px 10px 0 0;
    color:var(--cor7);
    margin:-10px -10px 0 -10px;
}

aside ul{
    list-style-position: inside;
    columns: 2;
}

footer{
    padding:10px;
    text-align: center;
    color:#FFF;
    background-color:var(--cor5);
    margin-top:20px;
}

footer a{
    color:var(--cor1);
    text-decoration:none;
}

footer a:hover{
    color:#FFF;
    text-decoration: underline;
}